
/*theme*/
/*palette*/

:root{
    --color-default: #5298c6;
    --color-header-text: rgb(0, 0, 0);
    --color-primary: #5298c6;
    --color-alert: #5298c6;
    --color-succes: #5298c6;
    --color-warning: #5298c6;

}
/*variable appeler*/
header{
    background-color: var(--color-default);
    line-height: 1.0rem;
    padding: .5rem;
}
header h1, section h2{
    color: var(--color-header-text);
    text-align: center;
   
}
nav ul{
    text-align: center;
    margin-bottom: 2rem;
}

main{
    max-width: 80.0rem;
    border: solid .1rem var(--color-default);
    padding: 1.0rem;
    margin: 5.0rem auto 1.0rem;
}
figure > img{
    display: block;
    width: 100%;
    margin: 5.0rem auto 1.0rem;
    box-shadow: 0 0 1.0rem r#5298c6;
}
/*la suite*/

section h2, section figure figcaption h3 {
    background-color: var(--color-primary);
    color : var(--color-header-text);
    line-height: 4.5rem;
    padding: .5rem;
    font-size: x-large;
    text-align: center;

}
section p{
    line-height: 2.6rem;
}


/*placer les icones*/


main section + section h2{ /* a partir du premier element*/
   background-color: #5298c6;

}
main section:last-child h2{ /*dernier element*/
    background-color: #5298c6;
    color:#222;
}
main section:nth-child(2) h2{
    background-color: var(--color-succes);
}
main section:nth-of-type(3) h2 {
    background-color:var(--color-warning);
    color: #222;
}
section figure figcaption h3{
   background-color: #5298c6;
   color: #222;
}
footer *{
    text-align: center;
    color: #999;
}
/*respomsive*/
@media  screen and (max-width: 80.0rem) {
    main {
        margin : .1rem;
    }
    header h1{
        background-color: #5298c6;
        font-size: x-large;
    }
    section h2, section figure figcaption h3 {
        font-size: large;
    }
    section figure figcaption p {
        text-align: justify;
    }
    footer {
        min-height: 20vh; /*unite de mesure 1 vingtieme de l'ecran*/
        display: grid;
        align-items: center;
    }
}
@media screen and (orientation:landscape) { /*format paysage*/
    header h1{
        background-color: #5298c6;
        font-size: xx-large;
        
    }
    
}