/* police d ecriture */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
* {
    font-family: 'Merriweather', serif;
}

/*couleurs page*/
:root{
    --color-default: #3a3355;
    --color-header-text: rgb(255, 255, 255);
    --color-primary:#000000;
   

}

header{
    background-color: var(--color-default);
    line-height: .5rem;
    padding: .5rem;
    box-shadow: 0 0 25px #000000;
    
}
/*Titre principal*/
header h1{
    font-size: xx-large;
    text-align: center;
    line-height: 3.0rem;
    color: var(--color-header-text);
    

}
/*Image du titre*/
header img{
 position: absolute;
 top: 1.2rem;
 left: 40.0rem;
  width: 100px;
  display: block;
 text-align: left;
}

/* barre de navigation */
nav ul {

    font-weight: bold;
    text-align: center;
    background-color: #9174f3;
    box-shadow: 0 0 25px #000000;
    border: solid .2rem var(--color-primary);

  }
nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  text-transform:uppercase;
  color: rgb(0, 0, 0);
  font-size: 18px;
  text-decoration: none;
  display: block;
  transition: all 500ms ease-in-out;
}

/* couleur surbrillance de la barre de nav */
nav ul li:hover a{
    background-color: #000000;
    color : #fff;
}

/*le corps principal */

body{
    background-image:url(https://www.easytutoriel.com/wp-content/uploads/2021/09/fond-d-ecran-anime-windows-11-10-tutoriel-facile.jpg);
    
}
/* tout le carre blanc */
main{
    background-color: #ffffff;
    padding: 1.0rem;
    box-shadow: 0 0 25px #000000;
    

    

   
}
/* placement et dimensions images*/
conteneur img{ 
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}
conteneur {
    display: flex;
    justify-content: center;
}

/*grands titres*/

section h2 {
    background-color: var(--color-default);
    box-shadow: 0 0 25px #000000;
    color : var(--color-header-text);
    line-height: 6.5rem;
    padding: .5rem;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    
   
    

}
/* sous titres */
section h3{
    background-color: transparent;
    border: solid .2rem var(--color-primary);
    color : var(--color-primary);
    line-height: 4.5rem;
    padding: .5rem;
    font-size: x-large;
    
}

/*espaces entre les lignes */
section p{
    line-height: 2.0rem;
}

/*signature au bas de page*/
footer *{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}


/*respomsive*/
@media  screen and (max-width: 80.0rem) {
    main {
        margin : .1rem;
    }
    header h1{
        
        font-size: x-large;
    }
header img{
    display: block;
    position: static;
    margin: 0 auto;
}
    footer {
        min-height: 20vh; /*unite de mesure 1 vingtieme de l'ecran*/
        display: grid;
        align-items: center;
    }
}
@media screen and (orientation:landscape) { /*format paysage*/
    header h1{
       
        font-size: x-large;
    }
    header img{
        margin: 1% auto;
        position: static;
        display: block;
        width: 4.4rem;
        height: 4.4rem;
    }
    
    main{
        margin: 0 1%;
    }
    section h2 conteneur img{

        grid-template-columns: repeat(4, 1fr);
    }
}
